body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,21,22,1) 0%, rgba(2,67,82,1) 100%, rgba(0,147,177,1) 100%, rgba(0,212,255,1) 100%);
  
}

html, body {margin: 0; height: 100%; overflow: hidden}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
